.crear-gifos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    margin-top: 3rem;
}

.img-camara {
    padding-top: 7%;
}

.crear-gifos-contenedor {
    font-size: 25px;
    width: 688px;
    height: 390px;
    border: 1px solid #572EE5;
    text-align: center;
    color: #572EE5;
    padding-top: 2rem;
    line-height: 3rem;
    margin: 0px 6rem;
}

.span-gifos {
    color: #00F3BB;
}

.crear-gifos-p {
    font-size: 12px;
    color: black;
}

.crear-gifos-pasos {
    display: flex;
    justify-content: center;
    border-bottom: 8px solid #572EE5;
    border-radius: 23px;
    padding-left: 3rem;
}

.pasos {
    border-radius: 100%;
    border: 1px solid #572EE5;
    margin: 1rem;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 2px;
    font-size: 18px;
    color: #572EE5;
}

.paso-on {
    background: #572EE5;
    color: white;
}

.paso-off {
    background: white;
    color: #572EE5;
}

.comenzar {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.boton-comenzar {
    border: 1px solid #572EE5;
    border-radius: 25px;
    font-size: 13px;
    padding-top: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    width: 127px;
    height: 50px;
    cursor: pointer;
}

.ocultar {
    display: none;
}

.img-pelicula {
    padding-top: 23%;
}

.video-gifo {
    z-index: 1000;
    width: 480px;
    height: 320px;
}


.tiempo {
    position: absolute;
    font-size: 15px;
    color: #572EE5;
    margin: 1.2rem 0 0 12%;
}

.repetir {
    cursor: pointer;
    position: absolute;
    font-size: 15px;
    color: rgb(87, 46, 229);
    margin: 1.2rem 0 0 7%;
}

.color-cargando {
    background-color: rgb(87, 46, 229, 0.5);
    position: absolute;
    margin: -21rem 6.5rem;
}

.h4-cargando {
    color: white;
    width: 315px;
    height: 22px;
    margin: 5rem 5rem;
}

.h4-cargando-ok {
    color: white;
    width: 315px;
    height: 22px;
    margin: 2rem 5rem;
}

.cargando {
    margin: -5rem 12rem;
}

.cargando-ok {
    margin: -3rem 12rem;
}