.container-tarjeta {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.img-iconos {
    display: inline-table;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    height: 200px;
    opacity: 0;
}

.img-iconos:hover {
    opacity: 1;}

.icon-tarjeta{
    cursor: pointer;
}
.icon-tarjeta:hover{
    opacity: 0.5 ;
}

.icon-fav {
    content: url(../img/icon-fav.svg);
}

.icon-dow {
    content: url(../img/icon-download.svg);
}

.icon-max {
    content: url(../img/icon-max-normal.svg);
}

.icon-fav:hover {
    content: url(../img/icon-fav-hover.svg);
}
.icon-dow:hover {
    content: url(../img/icon-download-hover.svg);
}
.icon-max:hover {
    content: url(../img/icon-max-hover.svg);
}

.icon-fav:active{
    content: url(../img/icon-fav-active.svg);
    position: relative;
    top: -10px;
}

.icon-favoritos{
    content: url(/img/icon-fav-active.svg);
    position: relative;
    top: -10px;
}



/* -------------------------------------------------------------------- */

.title_favoritos {
    margin-top: 3rem;
    text-align: center;
}


.h3_favoritos {
    font-size: 25px;
    color: #572EE5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img_favoritos {
    margin-top: 35px;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(4, auto);

}

.img_fav {
    display: block;
    width: 260px;
    height: 200px;
}

.img_fav:hover {
   opacity: 0.5;
}

.ver_mas_fav {

    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.boton_ver_mas {
    
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #572EE5;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 50px;
    border: solid #572EE5 2px;
    border-radius: 50px;
}

@media(max-width: 1090px) {
    .img_favoritos {
        margin-top: 35px;
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(3, auto);
    }
}

@media(max-width: 780px) {
    .img_favoritos {
        margin-top: 8rem;
        display: grid;
        justify-content: center;
        gap: 10px -50px;
        grid-template-columns: repeat(2, auto);
    }

    .img_fav {
        width: 136px;
        height: 120px;
    }

    .img-iconos {
        width: 136px;
        height: 120px;
    }


}