.section-header {
    margin: 100px 100px 0;
}

.img-search {
    content: url(../img/icon-search-mod-noc.svg);
    width: 15px;
    margin-right: 10px;
}

.sug-search {
    display: flex;
    align-items: center;
    padding-top: 1px;
}



h1 {
    font-size: 64px;
    color: #572EE5;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.title-header {
    display: none;
}

.througt-title {
    text-decoration: line-through;
}

/* .puntoazul {
    color: #0000EC;
} */

.detalle-header-xs {
    display: none;
}

.detalle-header-lg {
    font-size: 16px;
}

.boton-header {
    height: 56px;
    width: 226px;
    background: #00F3BB;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-top: 35px;
}

.boton-header:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

@media (max-width: 858px) {
    h1 {
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }

    .detalle-header-lg {
        display: none;
    }

    .detalle-header-xs {
        font-size: 14px;
        display: block;
    }

    .boton-header {
        width: 100%;
    }

    .section-header {
        margin: 20px;
    }

    .title-header {
        display: block;
    }
}